* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #61dafb;
    height: 100svh;
    display: flex;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-link {
        color: #61dafb;
    }
}



